body{
    background-color: aliceblue;
    
}
#container{
    width: 300px;
    background-color: white;
    margin: 150px;
    border-radius: 15px;
}
input{
    width: 80%;
    margin: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    
}
button{
    background-color: brown;
    margin: 15px;
    border-radius: 6px;
}