body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container{
    display: flex;
    width: 480px;
    border: 2px solid #e5e7e6;
    flex-direction: column;
    background-color: #f9fafb;
    border-radius: 12px;    
}
h1{
    font-weight: bold;
    color: #111827;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
}
p{
    font-size: 14px;
    line-height: 20px;
    color: #6b7280;
    text-align: center;
}
label{
    margin-left: 10px;
    font-size: 14px;
    color: #374151;
    margin-bottom: 8px;
}
input{   
    font-size: 30px;
    border:1px solid #e5e7e6;
    border-radius: 8px;
    padding: 0 16px 0 44px;
    line-height: 20px;
    color: #111827;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;   
}
::placeholder{
    font-size: 14px;
    line-height: 20px;
    color: #9ca3af;
}
button{
    background-color: #6d28d9;
    font-weight: semi-Bold;
    font-size: 16px;
    line-height: 48px;
    color: #ffffff;
    border-radius: 8px;
    padding: 0 24px;
    cursor: pointer;
    transition: background-color ;
    cursor: not-allowed;
    
}
button:hover{
    background-color: #6d28d9;
}
button:active {
    background-color: #4c1d95;
}